.header {
    background:#2780E3;
    height:50px;
}

.navbar-brand {
color: #fff;
}

.navigation ul {
    display:flex;

}

.navigation li{
    list-style:none;

}

.posts{
    background:yellow;
    width:66%;
}

.content{
    display:flex
}

.posts_in .postTitle{
    background:yellow
}

.posts_in .postContent{
    background:green
}

