.header {
    background:#2780E3;
    height:50px;
    margin-bottom:20px;
}

.navbar-brand {
color:#fff
}

.navigation ul {
    display:flex;

}

.navigation li{
    list-style:none;

}

.main-left{
    background:yellow;
    width:66%;
}

.content{
    display:flex;
}

.posts_in .postTitle{
    background:yellow;
}

.posts_in .postContent{
    background:green;
}

a{
    text-decoration: none;
}

.navigation ul li{
    margin-right:16px;
}

.page-header h1{
    font-weight:300;
}

.page-header h4{
    color:#868e96;
}

.loginform {
    background: #00ffdc;
    position: absolute;
    height: 300px;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}