<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css">
    <title>blog</title>
</head>
<body>
     <div class="header">
     {% include 'header.html' %}
     </div>
       <div class="content">
           {% block content %}
           {% endblock %}
           <div>
        {% for post in posts %}
            <div>{{ post.title }}</div>
            <div>{{ post.content }}</div>
        {% endfor %}
</div>
       </div>
       <footer>
           {% block footer %}
           {% endblock %}
       </footer>
</body>
</html>