<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shengyu Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css">
</head>
<body>
 <div class="header">
     {% include 'header.html' %}
     </div>
       <div class="content">
           {% block content %}
           {% endblock %}
           <div>
               {% block posts %}{% endblock %}
           </div>
       </div>
       <footer>
           {% block footer %}
           {% endblock %}
       </footer>
</body>
</html>