<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Shengyu Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css">
</head>
<body>
 <div class="header">
     {% include 'header.html' %}
     </div>
 <div class='page-header'>
               <h1>Bluelog</h1>
               <h4>No, I'm the real thing.</h4>
           </div>
 <div class="content">
           {% block content %}
           {% endblock %}

           <div class="main-left">
                <div class="posts">
                    {% block posts %}{% endblock %}
                </div>
           </div>
           <div class="main-right">
                <div class="links">
                        {% include 'links.html' %}
                 </div>
                 <div class="category">
                    {% include 'category.html' %}
                 </div>
           </div>
       </div>
       <footer>
           {% block footer %}
           {% endblock %}
       </footer>
</body>
</html>