<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Shengyu Blog</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='blog.css') }}" type="text/css">
</head>

<body>
    <div class="loginform">
        <form method="post">
        <div >
            {{ form.name.label }}
            {{ form.name() }}
        </div>
        <div>
            {{ form.password.label }}
            {{ form.password }}
        </div>
            {{ form.remember_me }}
            {{ form.submit() }}
        </form>
    </div>
</body>
</html>